@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass_morphism {
    @apply shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[6.3px] border rounded-2xl border-solid border-[rgba(255,255,255,0.88)];
    background: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(6.3px);
  }

  .glass_morphism_blue_bg {
    @apply shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[14.5px] border border-solid border-[rgba(0,216,251,0.89)];
    background: rgba(0, 216, 251, 0.51);
    -webkit-backdrop-filter: blur(14.5px);
  }

  .glass_morphism_yellow_bg {
    @apply shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[14.5px] border border-solid border-[rgba(255,226,78,0.89)];
    background: rgba(255, 226, 78, 0.36);
    -webkit-backdrop-filter: blur(14.5px);
  }
}
